
<html lang="et"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
</head>

<body>
<div th:fragment="activityThread" th:remove="tag">
    <div th:each="act : ${thread}" th:remove="tag">
        <tr>
            <th th:style="'padding-left:' + ${depth} + 'px; border: 1px solid gray;'">
                <table style="width:50%"><tr><td style="text-align:left;"><span
                        th:text="${act.name}"></span>
                </td></tr>
                </table>
            </th>
                <th style="border: 1px solid gray; text-align:center;" th:if="${#lists.isEmpty(act?.activities)}" th:text="${act.completed != null && act.completed} ? 'X' : ''"></th>
                <th style="border: 1px solid gray; text-align:center;" th:if="${#lists.isEmpty(act?.activities)}" th:text="${act.completed == null || !act.completed} ? 'X' : ''"></th>
        </tr>
        <div th:each="measurement : ${act.measurements}" th:remove="tag">
            <tr><td>
                <table style="float:right; padding: 10px; display: inline-table; border-spacing: 0; width:75%">
                    <tr>
                        <th style="border: 1px solid gray;">Mõõtmised</th>
                        <th style="border: 1px solid gray;">Väärtus</th>
                    </tr>
                    <tr>
                        <td style="border: 1px solid gray;"><span th:text="${measurement.name}"></span></td>
                        <td style="border: 1px solid gray;"><span th:text="${measurement.value}"></span></td>
                    </tr>
                </table>
            </td>
            </tr>

        </div>

        <div th:include="fragments/activity :: activityThread(thread=${act?.activities}, depth=${depth} + 10)" th:remove="tag"></div>
    </div>


</div>

</body>
</html>