<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="cellFragment" th:remove="tag">

    <td th:style="${style}"><b th:text="${labelValue}"></b> <span th:text="${textValue}"></span></td>

</div>
</body>
</html>