<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="commentsFragment" th:remove="tag">
    <div><b>Lahendus</b></div>
    <div style="border: 1px solid gray;">
            <p><span th:text="${comment}"></span></p>
    </div>

</div>
</body>
</html>