<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="descriptionFragment" th:remove="tag">
        <p><b>Tellimuse kirjeldus:</b> <span th:text="${description}"></span></p>
    </div>
</body>
</html>