
<html lang="et"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
</head>

<body>
<div th:fragment="deviceActivity" th:remove="tag">
    <div th:each="device : ${devices}" th:remove="tag">
        <div th:include="fragments/activity :: activityThread(thread=${device?.activities}, depth=0)" th:remove="tag"></div>
        </div>
    </div>


</div>

</body>
</html>