
<html lang="en"xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="device" th:remove="tag">

    <div th:each="device : ${devices}" style="page-break-before: always;">
        <table width="100%">
            <tr>
                <div th:include="fragments/cell :: cellFragment(textValue=${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}, style='border-bottom: 1px solid gray; width:75%;')" th:remove="tag"></div>
                <div th:include="fragments/cell :: cellFragment(textValue=${companyName}, style='font-size:18px; text-align: right; border-bottom: 1px solid gray; width:25%;')" th:remove="tag"></div>
            </tr>
        </table>
        <br/>

        <div style="page-break-after: always;">

            <table style="table-layout:fixed; border-spacing: 0; border-style: solid; width:100%;">
                <thead>
                <tr>
                    <th style="text-align:left; border-bottom:1px solid gray;
              border-right:1px solid gray; font-size:18px; width:75%;" rowspan="2">
                        Seade
                    </th>

                    <th style="text-align:center; border: 1px solid gray;" colspan="2">Lõpetatud</th>
                </tr>
                <tr>
                    <th style="text-align:center; border: 1px solid gray;">Jah</th>
                    <th style="text-align:center; border: 1px solid gray;">EI</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th th:style="'padding-left:10px; border: 1px solid gray;'">
                        <table style="width:50%"><tr><td style="text-align:left;"><span th:text="${device.name}"></span>
                        </td></tr>
                        </table>
                    </th>
                    <th style="border: 1px solid gray; text-align:center;" th:if="${#lists.isEmpty(device?.activities)}" th:text="${device.completed != null && device.completed} ? 'X' : ''"></th>
                    <th style="border: 1px solid gray; text-align:center;" th:if="${#lists.isEmpty(device?.activities)}" th:text="${device.completed == null || !device.completed} ? 'X' : ''"></th>
                </tr>
                <div th:each="measurement : ${device.measurements}" th:remove="tag">
                    <tr><td>
                        <table style="float:right; padding: 10px; display: inline-table; border-spacing: 0; width:75%">
                            <tr>
                                <th style="border: 1px solid gray;">Mõõtmised</th>
                                <th style="border: 1px solid gray;">Väärtus</th>
                            </tr>
                            <tr>
                                <td style="border: 1px solid gray;"><span th:text="${measurement.name}"></span></td>
                                <td style="border: 1px solid gray;"><span th:text="${measurement.value}"></span></td>
                            </tr>
                        </table>
                    </td>
                    </tr>
                </div>
                <tr th:replace="fragments/activity :: activityThread(thread=${device.activities}, depth=0)"></tr>
                </tbody>
            </table>
        </div>

    </div>


</div>

</body>
</html>