<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="materialFragment" th:remove="tag">
    <div th:each="material : ${materials}">
        <table style="width:100%">
            <tr>
                <th style="text-align:left; border-bottom: 1px solid black;">Materjali nimetus</th>
                <th style="text-align:left; border-bottom: 1px solid black;">Ühik</th>
                <th style="text-align:left; border-bottom: 1px solid black;">Kogus</th>
                <th style="text-align:left; border-bottom: 1px solid black;">Hind</th>
            </tr>
            <tr>
                <td style="text-align:left; border-bottom: 1px solid black;" width="55%"><span th:text="${material.description}"></span></td>
                <td width="15%" style="text-align:left; border-bottom: 1px solid black;" ><span th:text="${material.unit}"></span></td>
                <td width="15%" style="text-align:left; border-bottom: 1px solid black;" ><span th:text="${material.amount}"></span></td>
                <td width="15%" style="text-align:left; border-bottom: 1px solid black;" ><span th:text="${material.price}"></span>€</td>
            </tr>

        </table>

    </div>


</div>
<body>

</body>
</html>
