<!DOCTYPE html>
<html lang="et" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div th:fragment="workFragment" th:remove="tag">
    <table style="width:100%">
        <tr>
            <th style="text-align:left; border-bottom: 1px solid black;">Tööaeg</th>
            <th style="text-align:left; border-bottom: 1px solid black;">Kulunud aeg</th>
            <th style="text-align:left; border-bottom: 1px solid black;">Hind</th>
        </tr>
    <div th:each="work : ${works}" th:remove="tag">
            <tr>
                <td style="text-align:left; border-bottom: 1px solid black;"><span th:text="${work.technicianName}"></span></td>
                <td th:if="${work.total != 0}" style="text-align:left; border-bottom: 1px solid black;" ><span th:text="${@util.formatTime(work.total)}"></span></td>
                <td th:if="${work.total == 0}" style="text-align:left; border-bottom: 1px solid black;" ><span> </span></td>
                <td style="text-align:left; border-bottom: 1px solid black;" ><span th:text="${work.price}"></span>€</td>
            </tr>

    </div>
        <tr>
            <td style="text-align:left; border-style: none;" width="50%"></td>
            <td width="25%" style="text-align:left; border-style: none;" ><b><span th:text="${billingType != 'PRICE_LIST'} ? 'Kokku: ' + ${@util.formatTime(totalTime)} : 'Kokku: '"></span></b></td>
            <td width="25%" style="text-align:left; border-style: none;" ><b><span th:text=" ${totalPrice}"></span>€</b></td>
        </tr>
    </table>


</div>
</body>
</html>